files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-app-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/*.log
      /var/log/nodejs/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-app-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/*.log
      /var/log/nodejs/*.log

